<div id="backtest">
    <img src="{{avatarUrl}}" alt="Avatar" id="avatar">
    <p><span>{{backtestid}}</span></p>
    <ul>
        <li><span>{{badges}}</span> Badges earned</li>
        <li><span>{{javascript}}</span> JavaScript points</li>
        <li><a href="/">search again</a></li>
    </ul>
</div>
