<img src="https://conceptdraw.com/a1706c3/p3/preview/640/pict--business-report-business-people---vector-stencils-library.png--diagram-flowchart-example.png"
    alt="Backtest" id="searchIcon">

<form action="/" method="POST">
    <input type="text" placeholder="Enter the backtest ID" id="backtestid" name="backtestid">
    <input type="submit" value="search" class="button">
</form>
